.about {
  //temporary border for identifying sections
  border: 1px solid white;
  position: relative;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: -5vh;
  display: flex;
  //TODO: change where flexbox classes are only used in index.html
  align-items: center;
  justify-items: center;
  padding-bottom: 200px;

  .about-heading {
    color: $mediumBlue;
  }

  .name-background {
    width: 90%;
  }

  .person-div {
    position: absolute;
    flex-basis: 100%;
    width: 100%;
    top: 45%;
  }

  .blob-div {
    position: absolute;
    flex-basis: 100%;
    width: 100%;
    top: 45%;
  }

  .main-heading {
    flex-basis: 100%;
    margin-bottom: 40px;
    position: relative;
    z-index: 2;

    hr {
      float: left;
    }
  }

  .about-divs {
    min-height: 60vh;
    width: 100%;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // flex-wrap: wrap;
    position: relative;
    z-index: 1;
    --auto-grid-min-size: 16rem;
    display: grid;
    // grid-template-columns: repeat(
    //   auto-fill,
    //   minmax(var(--auto-grid-min-size), 1fr)
    // );
    // grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-columns: minmax(350px, 1fr);
    grid-gap: 1rem;
  }

  .about-me-bio {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    --auto-grid-min-size: 16rem;
    display: grid;
    // grid-template-columns: repeat(
    //   auto-fill,
    //   minmax(var(--auto-grid-min-size), 1fr)
    // );
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 1rem;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // flex-basis: 100%;
    // --auto-grid-min-size: 16rem;
    // display: grid;
    // grid-template-columns: repeat(
    //   auto-fill,
    //   minmax(var(--auto-grid-min-size), 1fr)
    // );
    // grid-gap: 1rem;
  }

  // .left-about-me {
  //   width: 90%;
  //   height: 600px;
  //   // margin-top: -25%;
  // }

  .about-me-img-container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 100%;
    position: relative;

    // TODO: add media queries for placement of image of me and dashed rectangle

    .bg-for-img {
      width: auto;
      height: 682px;
      z-index: 2;
      position: relative;
      bottom: 52px;
    }

    .img-me {
      width: 382px;
      height: 482px;
      right: 415px;
      z-index: 3;
      position: relative;
      bottom: 90px;
    }
  }

  .container-skills {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 100%;
  }

  .bio-div {
    width: 90%;
    max-width: 1000px;
    height: 500px;
    border-radius: 15px;
    padding: 10px 20px;
    //! Uncomment later if needed, trying to only use flexbox
    //margin: -400px 25px 25px 200px;
    background-color: $yellow;
    color: $offWhite;

    // h3 {
    //   color: $offWhite;
    // }
  }

  .photo-div {
  }

  .photo-frame {
  }

  //TODO: make this one relative to to primary div?
  .secondary-div {
    // width: 300px;
    // min-height: 550px;
    width: 70%;
    min-height: 500px;
    max-width: 400px;
    border-radius: 5px;
    display: flex;
    //TODO: aligns text as center, probably change
    //TODO: move headers left in container
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    padding: 30px;
    background-color: $pink;
    color: $offWhite;

    ul {
      margin: 10px 0;
      line-height: 40px;
    }
  }

  //TODO: add media queries
}

.about::after {
  content: "";
  position: absolute;
  top: 1vh;
  right: 26vw;
  height: 100%;
  width: 108vh;
  background: url("/app/images/about-me-background-blob.svg") center no-repeat;
  background-size: 100%;
  z-index: 0;
  transform: scale(5.3) rotate(230deg);
  max-width: 1000px;
}
