.about {
  //temporary border for identifying sections
  border: 1px solid white;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  //TODO: change where flexbox classes are only used in index.html
  align-items: center;
  justify-items: center;

  //TODO: change to position absolute for fixing where the vertical placement is?
  .name-div {
    //TODO: temporary fixes, change later
    margin-top: -20%;
    position: relative;
    margin-bottom: 10%;
    flex-basis: 100%;
  }

  .name-background {
    width: 90%;
  }

  .person-div {
    //TODO: temporary fixes, change later
    // margin-top: -500px;
    position: absolute;
    flex-basis: 100%;
    width: 100%;
    top: 45%;
  }

  .main-heading {
    flex-basis: 100%;
    margin-bottom: 40px;
  }

  // .about-divs{

  // }

  .primary-div {
    width: 45%;
    height: 500px;
    border-radius: 15px;
    padding: 10px 20px;
    //! Uncomment later if needed, trying to only use flexbox
    //margin: -400px 25px 25px 200px;
    background-color: $yellow;
    color: $offWhite;

    h3 {
      color: $offWhite;
    }
  }

  //TODO: make this one relative to to primary div
  .secondary-div {
    width: 55%;
    min-height: 550px;
    border-radius: 3px;
    display: flex;
    //TODO: aligns text as center, probably change
    //TODO: move headers left in container
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    padding: 30px;
    margin: 400px 25px 25px -400px;
    background-color: $pink;
    color: $offWhite;

    ul {
      margin: 10px 0;
      line-height: 40px;
    }
  }

  @media only screen and (max-width: 1120px) {
    .primary-div {
      width: 95%;
      //! Uncomment later if needed, trying to only use flexbox
      // margin: -400px 10px 10px 30px;
      margin: auto;
    }

    .secondary-div {
      width: 80%;
      //! Uncomment later if needed, trying to only use flexbox
      // margin: 400px 10px 10px -60px;
      margin: auto;
    }
  }
}
