//TODO: change default font-size in html tag for different font-sizes, fluid typography
// actually may be bad practice (because can override user's default font-size)? Research later
html {
  //let's user control font-size in browser, more accessible
  font-size: 100%;
  //makes size of elements include padding in final width
  box-sizing: border-box;
}

*,
*::before,
*::after {
  //make children inherit box-sizing
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Public Sans", sans-serif;
  line-height: 1.3;
  //equivalent to 18px
  font-size: $font-med;
  font-weight: 300;
  // color: $greyishBlue;
  background-color: $deepDarkBlue;

  a,
  a:visited,
  a:hover {
    text-decoration: none;
  }

  a:hover {
    cursor: pointer;
  }

  //flexbox styles
  .flex {
    display: flex;

    &-jc-sb {
      justify-content: space-between;
    }

    &-jc-sa {
      justify-content: space-around;
    }

    &-jc-c {
      justify-content: center;
    }

    &-ai-c {
      align-items: center;
    }

    &-wrap {
      flex-wrap: wrap;
    }

    &-fd-row {
      flex-direction: row;
    }

    &-fd-col {
      flex-direction: column;
    }
  }

  //added for mobile menu
  .active & {
    -moz-transform: translateX(-220px);
    -ms-transform: translateX(-220px);
    -webkit-transform: translateX(-220px);
    transform: translateX(-220px);
  }

  h2 {
    color: $pink;
    align-self: flex-start;
    margin-left: 20px;
    font-size: 40px;
  }

  h3 {
    color: $yellow;
    font-size: 32px;
  }

  p {
    color: $offWhite;
  }

  li {
    color: $offWhite;
  }

  hr {
    width: 50vw;
    min-width: 300px;
    border: 1px solid $yellow;
    align-self: flex-end;
  }

  .heading-with-icon {
    display: flex;
    align-items: center;
    margin-bottom: -20px;
  }

  .heading-icon {
    margin-left: 15px;
    width: 78px;
    height: 78px;
    margin-bottom: 10px;
  }

  //TODO: delete?
  .break {
    flex-basis: 100%;
    height: 0;
  }

  .whole-row {
    flex-basis: 100%;
  }
}

//page other than header and footer
.container {
  min-height: 100vh;
  width: 100%;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0px;
  overflow: clip;

  .name-div {
    //TODO: temporary fixes, change later
    display: flex;
    // margin-top: -16vw;
    top: -20vw;
    position: relative;
    // margin-bottom: 10%;
    flex-basis: 100%;
    min-width: 250px;
    max-width: 1000px;

    .name-background {
      width: 90%;
    }
  }

  .name-div::after {
    content: "";
    position: absolute;
    top: 35vw;
    left: 0;
    height: 69vw;
    width: 90%;
    background: url("/app/images/person-on-computer.svg") bottom center
      no-repeat;
    background-size: 100%;
  }

  h2 {
    text-transform: uppercase;
  }

  // .bg-container {
  //   max-height: 10000px;
  // }

  //TODO: set max width
  .bg-container {
    width: 100%;
    position: relative;
    // max-width: 1000px;
    display: flex;

    // .about-me-bg {
    // position: absolute;
    // width: 100%;
    // padding: 0;
    // padding-bottom: 56%;
    // background-image: url("/app/images/about-me-background-blob.svg");
    // background-repeat: no-repeat;
    // background-size: cover;
    // transform: scale(5.5) rotate(200deg);
    // left: -55vw;
    // top: 126vw;
    // overflow: clip;
    // }

    .person-div {
      position: absolute;
      flex-basis: 100%;
      width: 100%;
      top: -62vw;
      left: 3vw;
    }

    .blob-div {
      position: absolute;
      flex-basis: 100%;
      width: 100%;
      top: 54vw;
      left: -44vw;
      transform: scale(5.5) rotate(200deg);
    }
  }

  .projects-bg {
    position: absolute;
    width: 100%;
    z-index: 0;
    overflow: clip;
  }

  .projects-bg-offwhite-rect {
    //TODO: change height and top values
    top: 173vw;
    height: 245vh;
    clip-path: polygon(100% 0, 100% 90%, 0 100%, 0 10%);
  }

  .projects-bg-tannish-rect {
    top: 187vw;
    height: 235vh;
    clip-path: polygon(100% 0, 100% 89%, 0 100%, 0 11%);
  }
}

@media only screen and (max-width: 1120px) {
  .container {
    flex-direction: column;
  }
}

//buttons
button,
.button {
  padding: 0.875rem 2.1875rem;
  background: $tannish;
  border-radius: 20px;
  border: 0;
  color: white;
  font-weight: 400;
  cursor: pointer;

  //TODO: add color transition

  &:hover {
    opacity: 0.75;
  }
}

//visibility
.hide-for-mobile {
  @include breakpoint-down(medium) {
    display: none;
  }
}

.hide-for-desktop {
  @include breakpoint-up(large) {
    display: none;
  }
}

//for backgrounds
@media only screen and (min-width: 1001px) {
  .container .name-div {
    top: -185px;
  }
  .container .name-div::after {
    top: 20vh;
    // width: 69vh;
    content: "";
    position: absolute;
    left: 0;
    height: 90%;
    width: 100vh;
    background: url("/app/images/person-on-computer.svg") bottom center
      no-repeat;
    background-size: 100%;
  }
}
