//TODO: either lock scrolling when mobile menu is open or make menu button "X" fixed

.header {
  nav {
    &.desktop-version,
    &.hamburger {
      padding: 1.0625rem 1.5rem;
      background-color: $mediumBlue;
    }
  }

  &__logo {
    img {
      //TODO: change when logo is added
      width: 8.8125rem;
      height: 1.375rem;
    }
  }

  &__name-logo {
    font-family: "Rock Salt", cursive;
    color: $tannish;
  }

  .light-mode-btn {
    width: fit-content;
    padding: 0.2rem;
    background: $yellow;
    border-radius: 10px;

    img {
      width: 50px;
      height: 50px;
    }
  }

  //transforming hamburger menu
  &.open {
    .header__menu {
      > span:first-child {
        transform: rotate(45deg);
      }

      > span:nth-child(2) {
        opacity: 0;
      }

      > span:last-child {
        transform: rotate(-45deg);
      }
    }
  }

  //hamburger button for mobile
  &__menu {
    > span {
      display: block;
      position: relative;
      width: 50px;
      height: 3px;
      background-color: $offWhite;
      z-index: 2;
      transition: all 300ms ease-in-out;
      transform-origin: 1px 1px;

      //add margin-bottom to all except last span
      &:not(:last-child) {
        margin-bottom: 14px;
      }
    }
  }

  //for displaying mobile menu links
  &__mobile-menu {
    background-color: $purple;
    color: $offWhite;
    bottom: 10%;
    max-width: 75vw;
    overflow: auto;
    position: fixed;
    top: 0;
    right: -75vw;
    width: 100%;
    text-align: center;
    z-index: 1;
    border-radius: 0px 0px 0px 10px;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;

    .hr-span {
      display: block;
      width: 60%;
      height: 2px;
      background-color: $yellow;
      margin-left: 7%;
      margin-top: 20vh;
    }

    //when hamburger button is clicked
    &.active {
      -moz-transform: translateX(-75%);
      -ms-transform: translateX(-75%);
      -webkit-transform: translateX(-75%);
      transform: translateX(-75%);
    }

    .nav-options {
      //TODO: check if needed
      width: auto;
      display: flex;
      align-items: center;
      padding: 0px 10px 0px 0px;
      height: 70vh;
    }

    ul {
      width: 100%;
      margin: 0;
      padding-left: 0px;
      list-style-type: none;
      display: flex;
      flex-direction: column;

      a {
        color: $offWhite;
        text-decoration: none;
      }

      .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        height: 9vh;
        margin: 2vh 0;
        padding: 1vh 0;
        align-items: center;

        &:hover,
        &:focus {
          cursor: pointer;
          background: hsla(275, 38%, 61%, 0.6);

          li {
            color: #deab9e;
          }

          .selection {
            background-color: #deab9e;
          }

          // .mobile-icon-hover {
          //   display: inline-block;
          // }

          // .mobile-icon-default {
          //   display: none;
          // }
        }

        // &:active {
        //   .mobile-icon-hover {
        //     display: inline-block;
        //   }

        //   .mobile-icon-default {
        //     display: none;
        //   }
        // }

        .mobile-icon {
          width: 50px;
          height: 50px;
        }

        .change-link {
          all: initial;
          cursor: pointer;
          display: inline-block;
          margin-left: 8vw;
        }

        .change-link .mobile-icon-hover {
          display: none;
        }

        &:hover .mobile-icon-default,
        &:active .mobile-icon-default {
          display: none;
        }

        &:hover .mobile-icon-hover,
        &:active .mobile-icon-hover {
          display: inline-block;
        }
      }

      .col {
        display: flex;
        flex-direction: column;
        flex-basis: auto;
      }

      .selection {
        display: inline-block;
        width: 5px;
        height: 9vh;
        z-index: 2;
        margin: -1vh 0;
      }

      li {
        //TODO: Make font size larger?
        display: inline-block;
        margin-left: 2vw;
        font-size: $font-lrg;
        font-weight: 700;
        text-transform: uppercase;
        transition: opacity 400ms ease-in-out;
      }
    }

    &__links {
      a {
        position: relative;
        font-size: $font-sm;
        color: $offWhite;
        transition: color 300ms ease-in-out;

        &:not(:last-child) {
          margin-right: 32px;
        }

        &::before {
          content: "";
          position: absolute;
          display: block;
          height: 5px;
          left: 0;
          right: 0;
          bottom: -30px;
          transition: opacity 300ms ease-in-out;
        }

        &:hover {
          color: $offWhite;
          opacity: 0.75;

          &::before {
            opacity: 1;
          }
        }
      }
    }

    &__cta {
      font-size: $font-sm;
      color: $offWhite;
      transition: opacity 300ms ease-in-out;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
