//TODO: either lock scrolling when mobile menu is open or make menu button "X" fixed
.main-container {
  flex: 1 0 auto;
}

.header {
  nav {
    &.desktop-version,
    &.hamburger {
      padding: 1.0625rem 1.5rem;
      background-color: $mediumBlue;
    }
  }

  .hamburger-btn {
    position: absolute;
    right: 3%;
    z-index: 10;
  }

  &__logo {
    img {
      //TODO: change when logo is added
      width: 8.8125rem;
      height: 1.375rem;
    }
  }

  &__name-logo {
    font-family: "Rock Salt", cursive;
    color: $tannish;
  }

  &__links {
    a {
      position: relative;
      font-size: $font-med;
      color: $offWhite;
      cursor: pointer;
      transition: color 300ms ease-in-out;
      &:not(:last-child) {
        margin-right: 32px;
      }

      &::before {
        content: "";
        position: absolute;
        display: block;
        height: 5px;
        left: 0;
        right: 0;
        bottom: -30px;
        transition: opacity 300ms ease-in-out;
      }

      &:hover,
      &:focus {
        color: $offWhite;
        opacity: 0.75;
        cursor: pointer;

        &::before {
          opacity: 1;
        }
      }
    }
  }

  .desktop-version {
    .resume-btn {
      border-radius: 5px;
      box-shadow: inset 2px 5px 8px hsla(0deg, 0%, 0%, 0.25);
    }

    .nav-btns {
      display: flex;
      align-items: center;
      margin-right: 3%;
    }
  }

  .light-mode-btn {
    width: fit-content;
    padding: 0.3rem;
    background: $yellow;
    border-radius: 10px;
    margin-right: 10%;

    img {
      width: 50px;
      height: 50px;
    }
  }

  //transforming hamburger menu
  &.open {
    .header__menu {
      > span:first-child {
        transform: rotate(45deg);
      }

      > span:nth-child(2) {
        opacity: 0;
      }

      > span:last-child {
        transform: rotate(-45deg);
      }
    }
  }

  //hamburger button for mobile
  &__menu {
    > span {
      display: block;
      position: relative;
      width: 50px;
      height: 3px;
      background-color: $offWhite;
      z-index: 2;
      transition: all 300ms ease-in-out;
      transform-origin: 1px 1px;

      //add margin-bottom to all except last span
      &:not(:last-child) {
        margin-bottom: 14px;
      }
    }
  }

  //for displaying mobile menu links
  &__mobile-menu {
    background-color: $purple;
    color: $offWhite;
    bottom: 10%;
    max-width: 75vw;
    height: fit-content;
    overflow: auto;
    position: fixed;
    top: 0;
    right: -75vw;
    width: 100%;
    text-align: center;
    z-index: 1;
    border-radius: 0px 0px 0px 10px;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;

    .bg-svg-container {
      width: 100%;
      height: 11vh;
    }

    .bg-svg {
      width: 100%;
      background-image: url("/app/images/mobile-nav-background.svg");
      background-repeat: no-repeat;
      background-size: cover;
      height: 0;
      padding: 0; /* reset */
      padding-bottom: 92%;
      margin-top: -23%;
      margin-left: -10%;
    }

    .mobile-btns {
      width: auto;
      display: flex;
      align-items: center;
      height: 10vh;
      margin: 8vh 35vw 0vh 10vw;
      justify-content: space-around;
    }

    .btn-dark-light-mode {
      background-color: $yellow;
      border-radius: 5px;
      padding: 0.25rem;
      margin: 0 15% 0 7%;
      box-shadow: 10px 10px hsla(0deg, 0%, 0%, 0.1);
      max-height: 60px;
      max-width: 60px;

      .sun-icon {
        width: 7vw;
      }

      &:hover {
        opacity: initial;
      }
    }

    .btn-mobile-resume {
      border-radius: 5px;
      font-size: 1.1rem;
      max-width: 145px;
      max-height: 60px;
      box-shadow: inset 2px 5px 8px hsla(0deg, 0%, 0%, 0.25);
      &:hover {
        opacity: initial;
      }
    }

    .hr-span {
      display: block;
      width: 60%;
      height: 2px;
      background-color: $yellow;
      margin-left: 7%;
      // margin-top: 20vh;
      margin-top: 2vh;
    }

    //when hamburger button is clicked
    &.active {
      -moz-transform: translateX(-75%);
      -ms-transform: translateX(-75%);
      -webkit-transform: translateX(-75%);
      transform: translateX(-75%);
    }

    .nav-options {
      width: auto;
      display: flex;
      align-items: center;
      padding: 0px 10px 0px 0px;
      height: 65%;

      .scaling-svg-container {
        position: relative;
        height: 100%;
        width: 4vw;
        padding: 0;
        padding-bottom: 100%;

        .scaling-svg {
          position: absolute;
          height: 100%;
          width: 100%;
          left: 0;
          top: 0;
        }
      }
    }

    ul {
      width: 100%;
      margin: 0;
      padding-left: 0px;
      list-style-type: none;
      display: flex;
      flex-direction: column;

      a {
        color: $offWhite;
        text-decoration: none;
        border-left: 5px solid #7b5b92;

        &:hover,
        &:focus {
          cursor: pointer;
          background: hsla(275, 38%, 61%, 0.6);
          border-left: 5px solid #deab9e;
        }
      }

      .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        height: clamp(16px, 11vw, 60px);
        margin: 14px 0;
        padding: 0 0;
        align-items: center;

        &:hover,
        &:focus {
          // cursor: pointer;
          // background: hsla(275, 38%, 61%, 0.6);

          li {
            color: #deab9e;
          }

          .selection {
            background-color: #deab9e;
          }
        }

        .mobile-icon {
          width: 50px;
          height: 50px;
          //added
          position: absolute;
          height: 100%;
          width: 100%;
          left: 0;
          top: 0;
          //added
        }

        .change-link {
          all: initial;
          cursor: pointer;
          display: inline-block;
          margin-left: 8vw;
          position: relative;
          height: 0;
          width: clamp(1.5rem, 8vw, 3rem);
          padding: 0;
          padding-bottom: 100%;
        }

        .change-link .mobile-icon-hover {
          display: none;
        }

        &:hover .mobile-icon-default,
        &:active .mobile-icon-default {
          display: none;
        }

        &:hover .mobile-icon-hover,
        &:active .mobile-icon-hover {
          display: inline-block;
        }
      }

      .col {
        display: flex;
        flex-direction: column;
        flex-basis: auto;
        margin-top: -2.5vw;
        align-self: auto;
      }

      .selection {
        display: inline-block;
        width: 5px;
        height: clamp(16px, 11vw, 72px);
        z-index: 2;
        margin-bottom: 0;
      }

      li {
        //TODO: Make font size larger?
        display: inline-block;
        margin-left: 1vw;
        font-size: clamp(1rem, 4vw, 2rem);
        font-weight: 700;
        letter-spacing: 8px;
        text-transform: uppercase;
        transition: opacity 400ms ease-in-out;
        font-family: "Squada One", cursive;
      }
    }

    &__cta {
      font-size: $font-sm;
      color: $offWhite;
      transition: opacity 300ms ease-in-out;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
