.header {
  nav {
    padding: 1.0625rem 1.5rem;
    background-color: $darkestBlue;
  }

  &__logo {
    img {
      //TODO: change when logo is added
      width: 8.8125rem;
      height: 1.375rem;
    }
  }

  &__name-logo {
    font-family: "Rock Salt", cursive;
    color: $mediumPurpleishBlue;
  }

  //transforming hamburger menu
  &.open {
    .header__menu {
      > span:first-child {
        transform: rotate(45deg);
      }

      > span:nth-child(2) {
        opacity: 0;
      }

      > span:last-child {
        transform: rotate(-45deg);
      }
    }
  }

  //hamburger
  .overlay {
    display: none;
    position: fixed;
    top: 7rem;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: linear-gradient($darkestBlue, transparent);
  }

  //menu for mobile
  &__menu {
    > span {
      display: block;
      width: 26px;
      height: 2px;
      background-color: $white;
      transition: all 300ms ease-in-out;
      transform-origin: 3px 1px;

      //add margin-bottom to all except last span
      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }
  &__links {
    a {
      position: relative;
      font-size: $font-sm;
      color: $greyishBlue;
      transition: color 300ms ease-in-out;

      &:not(:last-child) {
        margin-right: 32px;
      }

      &::before {
        content: "";
        position: absolute;
        display: block;
        height: 5px;
        left: 0;
        right: 0;
        bottom: -30px;
        background: linear-gradient(
          to right,
          $lightPurpleishBlue,
          $mediumPurpleishBlue
        );
        opacity: 0;
        transition: opacity 300ms ease-in-out;
      }

      &:hover {
        color: $white;

        &::before {
          opacity: 1;
        }
      }
    }
  }

  &__cta {
    font-size: $font-sm;
    color: $white;
    transition: opacity 300ms ease-in-out;

    &:hover {
      opacity: 0.8;
    }
  }
}
