.hobbies {
  position: relative;
  z-index: 1;

  .hobbies-clip-path {
  }

  .hobbies-svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: middle;
    overflow: hidden;
  }

  .hobbies-svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
  }

  .hobbies-bg {
    position: absolute;
    width: 100%;
    height: 2000px;
    top: 400px;

    // .bottom-bg {
    //   transform: rotate(180deg) scaleX(-1);

    //   .bottom-bg-img {
    //     // transform: rotate(180deg) scaleX(-1);
    //   }
    // }

    // .clipped-img {
    //   // z-index: 2;
    //   // position: relative;
    //   // margin-bottom: -20px;
    //   -webkit-clip-path: url(#svgClip);
    //   clip-path: url(#svgClip);
    // }

    //TODO: create div covered with bg image, then use clip path on it
  }

  .hobbies-content {
    //temporary border for identifying sections
    border: 1px solid white;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    padding: 50px 0px;
    position: relative;
    top: -310px;
    z-index: 3;

    .heading {
      text-align: left;
      flex-basis: 100%;
    }

    hr {
      // float: left;
      display: flex;
      margin-left: initial;
      justify-content: flex-end;
    }

    .primary-div {
      flex-basis: 100%;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 50px;
    height: 1050px;
    width: 100%;
    background: url("/app/images/GradientWave.png") center no-repeat;
    background-size: 100% 100%;
    z-index: 2;
  }
}
