.hobbies {
  margin-top: 100px;
  position: relative;
  z-index: 1;

  .hobbies-bg {
    position: absolute;
    width: 100%;
    height: 1000px;
    top: 400px;
  }

  .hobbies-content {
    //temporary border for identifying sections
    border: 1px solid white;
    width: 90%;
    margin: 0 auto;
    padding: 50px 0px;
    position: relative;
    z-index: 3;
  }

  // &::before {
  //   content: "";
  //   position: absolute;
  //   top: 130px;
  //   height: 100%;
  //   width: 100%;
  //   // background: url("/app/images/gradient-background.png") center no-repeat;
  //   // background: url("/app/images/wave.svg") center no-repeat;
  //   // background: url("/app/images/wave.svg") center no-repeat;
  //   background-size: 100% 100%;
  //   z-index: 0;
  //   // clip-path: polygon(100% 0, 100% 89%, 0 100%, 0 11%);
  //   // clip-path: url(#svgPath);
  //   z-index: 2;
  // }
}
