.projects {
  //temporary border for identifying sections
  width: 100%;
  margin: 0 auto;
  border: 1px solid red;
  padding-bottom: 150px;
  //   max-width: 1200px;
  //   margin: 0 auto;
  //   display: flex;
  //   align-items: center;
  //   justify-items: center;

  .heading {
    position: relative;
    z-index: 1;
  }

  .projects-bg-container {
    display: initial;
    position: relative;
    width: 100%;
    // height: 300px;
  }

  .projects-bg {
    display: initial;
    position: absolute;
    width: 100%;
    z-index: 0;
  }

  .projects-bg-offwhite-rect {
    top: -130px;
    height: 679px;
    clip-path: polygon(100% 0, 100% 83%, 0 100%, 0 17%);
  }

  .projects-bg-tannish-rect {
    top: -53px;
    height: 533px;
    clip-path: polygon(100% 0, 100% 77%, 0 100%, 0 20%);
  }

  .projects-content {
    width: 90%;
    margin: 0 auto;
    border: 1px solid white;
    position: relative;
    z-index: 2;

    .secondary-div {
      //TODO: change color
      p {
        color: black;
      }
    }
  }
  .project-img {
  }

  .project-description {
  }
}
