.projects {
  //temporary border for identifying sections
  width: 100%;
  margin: 0 auto;
  border: 1px solid red;
  padding-bottom: 400px;
  //   max-width: 1200px;
  //   margin: 0 auto;
  //   display: flex;
  //   align-items: center;
  //   justify-items: center;

  .heading {
    position: relative;
    top: 136vw;
    z-index: 1;
  }

  .projects-content,
  .heading {
    // margin-top: 200px;
  }

  .projects-bg-container {
    display: initial;
    position: relative;
    width: 100%;
    // height: 300px;
  }

  .projects-bg {
    display: initial;
    position: absolute;
    width: 100%;
    z-index: 0;
  }

  .projects-bg-offwhite-rect {
    top: -130px;
    height: 2379px;
    clip-path: polygon(100% 0, 100% 90%, 0 100%, 0 10%);
  }

  .projects-bg-tannish-rect {
    top: -53px;
    height: 2233px;
    clip-path: polygon(100% 0, 100% 89%, 0 100%, 0 11%);
  }

  .projects-content {
    // position: relative;
    // top: 144vw;
    display: grid;
    width: 90%;
    margin: 0 auto;
    border: 1px solid white;
    position: relative;
    z-index: 2;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;

    .project-1 {
      background-image: url("/app/images/project-1-placeholder.png");
    }

    .project-2 {
      background-image: url("/app/images/project-2-placeholder.png");
    }

    .project-3 {
      background-image: url("/app/images/project-3-placeholder.jpg");
    }

    .project-2-info .technologies {
      margin-left: initial;
      margin-right: -75px;
    }
  }

  .project-info {
    display: grid;
    //TODO: change font color
    h3,
    p {
      color: black;
    }

    h3 {
      text-align: center;
    }

    .project-info-div {
      display: flex;
      align-items: center;
      text-align: center;
      height: 300px;
      width: auto;
      border-radius: 5px;
    }

    .info-div-1 {
      background-color: $yellow;
      margin-left: -75px;
    }

    .info-div-2 {
      position: relative;
      background-color: $pink;
      margin-right: -75px;
    }

    .info-div-3 {
      background-color: $lightGreen;
      margin-left: -75px;
    }

    .technologies {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-items: center;
      margin-left: -75px;
    }

    .project-links {
      justify-self: center;
      img {
        width: 60px;
      }

      .link-icon {
        margin: -5px 0;
      }
    }
  }
  .project-pic {
    height: 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .project-1-info,
  .project-3-info {
    .project-links {
      margin-left: -75px;
    }
  }

  .project-2-info {
    .project-links {
      margin-right: -75px;
    }
  }
}
