.projects {
  //temporary border for identifying sections
  border: 1px solid white;
  width: 90%;
  margin: 0 auto;
  //   max-width: 1200px;
  //   margin: 0 auto;
  //   display: flex;
  //   align-items: center;
  //   justify-items: center;

  .project-img {
  }

  .project-description {
  }
}
