//temporary theme colors
// $darkBlue: hsl(233, 26%, 24%);
$limeGreen: hsl(136, 65%, 51%);
$brightCyan: hsl(192, 70%, 51%);
$greyishBlue: hsl(233, 8%, 62%);
$lightGreyishBlue: hsl(220, 16%, 96%);
$veryLightGrey: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

//dark mode colors
$darkestBlue: #0c0032;
$darkBlue: #190061;
$mediumPurpleishBlue: #240090;
$lightPurpleishBlue: #3500d3;
$darkGrey: #282828;
//hover colors
$mediumPurpleishBlueHover: rgba(36, 0, 144, 0.75);
$lightPurpleishBlueHover: rgba(53, 0, 211, 0.75);

//fonts
$font-med: 1.125rem;
$font-sm: 0.875rem;
