//temporary theme colors
// $darkBlue: hsl(233, 26%, 24%);
$limeGreen: hsl(136, 65%, 51%);
$brightCyan: hsl(192, 70%, 51%);
$veryLightGrey: hsl(0, 0%, 98%);

//old dark mode colors
// $white: #ffffff;
// $darkestBlue: #0c0032;
// $darkBlue: #190061;
// $mediumPurpleishBlue: #240090;
// $lightPurpleishBlue: #3500d3;
// $darkGrey: #282828;
// $orangeYellow: #ffcd42;
// $greyishBlue: #9698a6;
// $lightGreyishBlue: #f3f4f6;

//new dark mode colors
//TODO: convert to HSL
$deepDarkBlue: #111633;
$mediumBlue: #1c2e4a;
$purple: #7b5b92;
$pink: #d987d9;
$lightGreen: #55d4ab;
$yellow: #e3ce63;
$tannish: #deab9e;
$offWhite: #f7eede;

//hover colors
$mediumPurpleishBlueHover: rgba(36, 0, 144, 0.75);
$lightPurpleishBlueHover: rgba(53, 0, 211, 0.75);

//fonts
$font-med: 1.125rem;
$font-sm: 0.875rem;
