html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Public Sans", sans-serif;
  line-height: 1.3;
  font-size: 1.125rem;
  font-weight: 300;
  background-color: #111632;
}

body a,
body a:visited,
body a:hover {
  text-decoration: none;
}

body a:hover {
  cursor: pointer;
}

body .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .flex-jc-sa {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .flex-fd-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body .flex-fd-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.active body {
  -webkit-transform: translateX(-220px);
  transform: translateX(-220px);
}

body h2 {
  color: #d987d9;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 20px;
  font-size: 40px;
}

body h3 {
  color: #e3ce63;
  font-size: 32px;
}

body p {
  color: #f7eede;
}

body ul.no-bullet {
  list-style-type: none;
  padding: 0;
  padding-left: 25px;
  margin: 0;
}

body li.arrow {
  background: url("/app/images/Right Arrow.svg") no-repeat left center;
  height: 56px;
  padding-left: 60px;
  padding-top: 8px;
}

body li {
  color: #f7eede;
}

body hr {
  width: 50%;
  min-width: 300px;
  border: 1px solid #e3ce63;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

body .heading-with-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: -20px;
}

body .heading-icon {
  margin-left: 15px;
  width: 78px;
  height: 78px;
  margin-bottom: 10px;
}

body .break {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 0;
}

body .whole-row {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.container {
  min-height: 100vh;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px 0px;
  overflow: clip;
}

.container .name-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: -20vw;
  position: relative;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  min-width: 250px;
  max-width: 1000px;
}

.container .name-div .name-background {
  width: 90%;
}

.container .name-div::after {
  content: "";
  position: absolute;
  top: 35vw;
  left: 0;
  height: 69vw;
  width: 90%;
  background: url("/app/images/person-on-computer.svg") bottom center no-repeat;
  background-size: 100%;
}

.container h2 {
  text-transform: uppercase;
}

.container .bg-container {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .bg-container .person-div {
  position: absolute;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  width: 100%;
  top: -62vw;
  left: 3vw;
}

.container .bg-container .blob-div {
  position: absolute;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  width: 100%;
  top: 54vw;
  left: -44vw;
  -webkit-transform: scale(5.5) rotate(200deg);
          transform: scale(5.5) rotate(200deg);
}

.container .projects-bg {
  position: absolute;
  width: 100%;
  z-index: 0;
  overflow: clip;
}

.container .projects-bg-offwhite-rect {
  top: 173vw;
  height: 245vh;
  -webkit-clip-path: polygon(100% 0, 100% 90%, 0 100%, 0 10%);
          clip-path: polygon(100% 0, 100% 90%, 0 100%, 0 10%);
}

.container .projects-bg-tannish-rect {
  top: 187vw;
  height: 235vh;
  -webkit-clip-path: polygon(100% 0, 100% 89%, 0 100%, 0 11%);
          clip-path: polygon(100% 0, 100% 89%, 0 100%, 0 11%);
}

@media only screen and (max-width: 1120px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

button,
.button {
  padding: 0.875rem 2.1875rem;
  background: #deaea1;
  border-radius: 20px;
  border: 0;
  color: white;
  font-weight: 400;
  cursor: pointer;
}

button:hover,
.button:hover {
  opacity: 0.75;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

@media only screen and (min-width: 1001px) {
  .container .name-div {
    top: -185px;
  }
  .container .name-div::after {
    top: 20vh;
    content: "";
    position: absolute;
    left: 0;
    height: 90%;
    width: 90%;
    background: url("/app/images/person-on-computer.svg") bottom center no-repeat;
    background-size: 100%;
  }
}

.main-container {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.header nav.desktop-version, .header nav.hamburger {
  padding: 1.0625rem 1.5rem;
  background-color: #1c2e4a;
}

.header__logo img {
  width: 8.8125rem;
  height: 1.375rem;
}

.header__name-logo {
  font-family: "Rock Salt", cursive;
  color: #deaea1;
}

.header__links a {
  position: relative;
  font-size: 1.125rem;
  color: #f7eede;
  cursor: pointer;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}

.header__links a:not(:last-child) {
  margin-right: 32px;
}

.header__links a::before {
  content: "";
  position: absolute;
  display: block;
  height: 5px;
  left: 0;
  right: 0;
  bottom: -30px;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.header__links a:hover, .header__links a:focus {
  color: #f7eede;
  opacity: 0.75;
  cursor: pointer;
}

.header__links a:hover::before, .header__links a:focus::before {
  opacity: 1;
}

.header .desktop-version .resume-btn {
  border-radius: 5px;
  -webkit-box-shadow: inset 2px 5px 8px rgba(0, 0, 0, 0.25);
          box-shadow: inset 2px 5px 8px rgba(0, 0, 0, 0.25);
}

.header .light-mode-btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.2rem;
  background: #e3ce63;
  border-radius: 10px;
}

.header .light-mode-btn img {
  width: 50px;
  height: 50px;
}

.header.open .header__menu > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header.open .header__menu > span:nth-child(2) {
  opacity: 0;
}

.header.open .header__menu > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header__menu > span {
  display: block;
  position: relative;
  width: 50px;
  height: 3px;
  background-color: #f7eede;
  z-index: 2;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform-origin: 1px 1px;
          transform-origin: 1px 1px;
}

.header__menu > span:not(:last-child) {
  margin-bottom: 14px;
}

.header__mobile-menu {
  background-color: #7a5a90;
  color: #f7eede;
  bottom: 10%;
  max-width: 75vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: auto;
  position: fixed;
  top: 0;
  right: -75vw;
  width: 100%;
  text-align: center;
  z-index: 1;
  border-radius: 0px 0px 0px 10px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.header__mobile-menu .bg-svg-container {
  width: 100%;
  height: 11vh;
}

.header__mobile-menu .bg-svg {
  width: 100%;
  background-image: url("/app/images/mobile-nav-background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 0;
  padding: 0;
  /* reset */
  padding-bottom: 92%;
  margin-top: -23%;
  margin-left: -10%;
}

.header__mobile-menu .mobile-btns {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
  margin: 8vh 35vw 0vh 10vw;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header__mobile-menu .btn-dark-light-mode {
  background-color: #e3ce63;
  border-radius: 5px;
  padding: 0.25rem;
  margin: 0 15% 0 7%;
  -webkit-box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
}

.header__mobile-menu .btn-dark-light-mode .sun-icon {
  width: 7vw;
}

.header__mobile-menu .btn-dark-light-mode:hover {
  opacity: initial;
}

.header__mobile-menu .btn-mobile-resume {
  border-radius: 5px;
  font-size: 3vw;
  -webkit-box-shadow: inset 2px 5px 8px rgba(0, 0, 0, 0.25);
          box-shadow: inset 2px 5px 8px rgba(0, 0, 0, 0.25);
}

.header__mobile-menu .btn-mobile-resume:hover {
  opacity: initial;
}

.header__mobile-menu .hr-span {
  display: block;
  width: 60%;
  height: 2px;
  background-color: #e3ce63;
  margin-left: 7%;
  margin-top: 2vh;
}

.header__mobile-menu.active {
  -webkit-transform: translateX(-75%);
  transform: translateX(-75%);
}

.header__mobile-menu .nav-options {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 10px 0px 0px;
  height: 70vh;
}

.header__mobile-menu .nav-options .scaling-svg-container {
  position: relative;
  height: 100%;
  width: 4vw;
  padding: 0;
  padding-bottom: 100%;
}

.header__mobile-menu .nav-options .scaling-svg-container .scaling-svg {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.header__mobile-menu ul {
  width: 100%;
  margin: 0;
  padding-left: 0px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__mobile-menu ul a {
  color: #f7eede;
  text-decoration: none;
  border-left: 5px solid #7b5b92;
}

.header__mobile-menu ul a:hover, .header__mobile-menu ul a:focus {
  cursor: pointer;
  background: rgba(162, 118, 193, 0.6);
  border-left: 5px solid #deab9e;
}

.header__mobile-menu ul .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: clamp(16px, 11vw, 72px);
  margin: 2vh 0;
  padding: 0 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__mobile-menu ul .row:hover li, .header__mobile-menu ul .row:focus li {
  color: #deab9e;
}

.header__mobile-menu ul .row:hover .selection, .header__mobile-menu ul .row:focus .selection {
  background-color: #deab9e;
}

.header__mobile-menu ul .row .mobile-icon {
  width: 50px;
  height: 50px;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.header__mobile-menu ul .row .change-link {
  all: initial;
  cursor: pointer;
  display: inline-block;
  margin-left: 8vw;
  position: relative;
  height: 0;
  width: clamp(1.5rem, 8vw, 3rem);
  padding: 0;
  padding-bottom: 100%;
}

.header__mobile-menu ul .row .change-link .mobile-icon-hover {
  display: none;
}

.header__mobile-menu ul .row:hover .mobile-icon-default,
.header__mobile-menu ul .row:active .mobile-icon-default {
  display: none;
}

.header__mobile-menu ul .row:hover .mobile-icon-hover,
.header__mobile-menu ul .row:active .mobile-icon-hover {
  display: inline-block;
}

.header__mobile-menu ul .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  margin-top: -2.5vw;
  -ms-flex-item-align: auto;
      align-self: auto;
}

.header__mobile-menu ul .selection {
  display: inline-block;
  width: 5px;
  height: clamp(16px, 11vw, 72px);
  z-index: 2;
  margin-bottom: 0;
}

.header__mobile-menu ul li {
  display: inline-block;
  margin-left: 1vw;
  font-size: clamp(1rem, 4vw, 2rem);
  font-weight: 700;
  letter-spacing: 8px;
  text-transform: uppercase;
  -webkit-transition: opacity 400ms ease-in-out;
  transition: opacity 400ms ease-in-out;
}

.header__mobile-menu__cta {
  font-size: 0.875rem;
  color: #f7eede;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.header__mobile-menu__cta:hover {
  opacity: 0.8;
}

.about {
  border: 1px solid white;
  position: relative;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: -5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  padding-bottom: 200px;
}

.about .about-heading {
  color: #1c2e4a;
}

.about .name-background {
  width: 90%;
}

.about .person-div {
  position: absolute;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  width: 100%;
  top: 45%;
}

.about .blob-div {
  position: absolute;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  width: 100%;
  top: 45%;
}

.about .main-heading {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-bottom: 40px;
  position: relative;
  z-index: 2;
}

.about .main-heading hr {
  float: left;
}

.about .about-divs {
  min-height: 60vh;
  width: 100%;
  position: relative;
  z-index: 1;
  --auto-grid-min-size: 16rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(350px, 1fr);
      grid-template-columns: minmax(350px, 1fr);
  grid-gap: 1rem;
}

.about .about-me-bio {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  --auto-grid-min-size: 16rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 1rem;
}

.about .about-me-img-container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  position: relative;
}

.about .about-me-img-container .bg-for-img {
  width: auto;
  height: 682px;
  z-index: 2;
  position: relative;
  bottom: 52px;
}

.about .about-me-img-container .img-me {
  width: 382px;
  height: 482px;
  right: 415px;
  z-index: 3;
  position: relative;
  bottom: 90px;
}

.about .container-skills {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.about .bio-div {
  width: 90%;
  max-width: 1000px;
  height: 500px;
  border-radius: 15px;
  padding: 10px 20px;
  background-color: #e3ce63;
  color: #f7eede;
}

.about .secondary-div {
  width: 70%;
  min-height: 500px;
  max-width: 400px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 30px;
  background-color: #d987d9;
  color: #f7eede;
}

.about .secondary-div ul {
  margin: 10px 0;
  line-height: 40px;
}

.about::after {
  content: "";
  position: absolute;
  top: 1vh;
  right: 26vw;
  height: 100%;
  width: 108vh;
  background: url("/app/images/about-me-background-blob.svg") center no-repeat;
  background-size: 100%;
  z-index: 0;
  -webkit-transform: scale(5.3) rotate(230deg);
          transform: scale(5.3) rotate(230deg);
  max-width: 1000px;
}

.projects {
  width: 100%;
  height: 2820px;
  margin: 0 auto;
  border: 1px solid red;
  padding-bottom: 200px;
  padding-top: 100px;
  margin-top: 100px;
  position: relative;
  z-index: 2;
}

.projects hr {
  width: 100%;
}

.projects .projects-content,
.projects .heading {
  position: relative;
  z-index: 2;
}

.projects .heading {
  margin: 0 auto;
  margin-top: 75px;
  text-align: center;
}

.projects .heading h2 {
  color: #1c2e4a;
}

.projects .projects-bg-container {
  display: initial;
  position: relative;
  width: 100%;
}

.projects .projects-bg {
  display: initial;
  position: absolute;
  width: 100%;
  z-index: 0;
}

.projects .projects-bg-offwhite-rect {
  top: -130px;
  height: 2379px;
  -webkit-clip-path: polygon(100% 0, 100% 90%, 0 100%, 0 10%);
          clip-path: polygon(100% 0, 100% 90%, 0 100%, 0 10%);
}

.projects .projects-bg-tannish-rect {
  top: -53px;
  height: 2233px;
  -webkit-clip-path: polygon(100% 0, 100% 89%, 0 100%, 0 11%);
          clip-path: polygon(100% 0, 100% 89%, 0 100%, 0 11%);
}

.projects .projects-content {
  display: -ms-grid;
  display: grid;
  width: 90%;
  margin: 0 auto;
  margin-top: -471px;
  border: 1px solid white;
  position: relative;
  z-index: 2;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  row-gap: 10px;
}

.projects .projects-content .project-1 {
  background-image: url("/app/images/project-1-placeholder.png");
}

.projects .projects-content .project-2 {
  background-image: url("/app/images/project-2-placeholder.png");
}

.projects .projects-content .project-3 {
  background-image: url("/app/images/project-3-placeholder.jpg");
}

.projects .projects-content .project-2-info .technologies {
  margin-left: initial;
  margin-right: -75px;
}

.projects .project-info {
  display: -ms-grid;
  display: grid;
}

.projects .project-info h3,
.projects .project-info p {
  color: black;
}

.projects .project-info h3 {
  text-align: center;
}

.projects .project-info .project-info-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 300px;
  width: auto;
  border-radius: 5px;
}

.projects .project-info .info-div-1 {
  background-color: #e3ce63;
  margin-left: -75px;
}

.projects .project-info .info-div-2 {
  position: relative;
  background-color: #d987d9;
  margin-right: -75px;
}

.projects .project-info .info-div-3 {
  background-color: #54d4ab;
  margin-left: -75px;
}

.projects .project-info .technologies {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  margin-left: -75px;
}

.projects .project-info .project-links {
  -ms-grid-column-align: center;
      justify-self: center;
}

.projects .project-info .project-links img {
  width: 60px;
}

.projects .project-info .project-links .link-icon {
  margin: -5px 0;
}

.projects .project-pic {
  height: 80%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.projects .project-1-info .project-links,
.projects .project-3-info .project-links {
  margin-left: -75px;
}

.projects .project-2-info .project-links {
  margin-right: -75px;
}

.projects::after {
  content: "";
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
  background: url("/app/images/projects-offwhite-bg.svg") center no-repeat;
  background-size: 100% 100%;
  z-index: 0;
  -webkit-clip-path: polygon(100% 0, 100% 90%, 0 100%, 0 10%);
          clip-path: polygon(100% 0, 100% 90%, 0 100%, 0 10%);
}

.projects::before {
  content: "";
  position: absolute;
  bottom: 130px;
  height: 90%;
  width: 100%;
  background: url("/app/images/projects-tannish-bg.svg") center no-repeat;
  background-size: 100% 100%;
  z-index: 0;
  -webkit-clip-path: polygon(100% 0, 100% 89%, 0 100%, 0 11%);
          clip-path: polygon(100% 0, 100% 89%, 0 100%, 0 11%);
  z-index: 2;
}

.hobbies {
  position: relative;
  z-index: 1;
}

.hobbies .hobbies-svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: middle;
  overflow: hidden;
}

.hobbies .hobbies-svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.hobbies .hobbies-bg {
  position: absolute;
  width: 100%;
  height: 2000px;
  top: 400px;
}

.hobbies .hobbies-content {
  border: 1px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  padding: 50px 0px;
  position: relative;
  top: -10px;
  z-index: 3;
}

.hobbies .hobbies-content .heading {
  text-align: left;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.hobbies .hobbies-content .heading h2 {
  color: #54d4ab;
}

.hobbies .hobbies-content .heading-icon {
  margin-bottom: 16px;
}

.hobbies .hobbies-content hr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: initial;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.hobbies .hobbies-content .frame-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hobbies .hobbies-content .gardening-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 600px;
  max-height: 100%;
  width: 50%;
  min-width: 400px;
  background: url("/app/images/green-hobbies-frame.svg") center no-repeat;
  background-size: cover;
  z-index: 3;
}

.hobbies .hobbies-content .gardening-div .gardening-content {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  top: 225px;
}

.hobbies .hobbies-content .cooking-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 600px;
  max-height: 100%;
  width: 50%;
  min-width: 400px;
  background: url("/app/images/yellow-hobbies-frame.svg") center no-repeat;
  background-size: cover;
  z-index: 3;
}

.hobbies .hobbies-content .cooking-div .cooking-content {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  top: 225px;
}

.hobbies::before {
  content: "";
  position: absolute;
  top: 50px;
  height: 1050px;
  width: 100%;
  background: url("/app/images/GradientWave.png") center no-repeat;
  background-size: 100% 100%;
  z-index: 2;
}

.contact {
  border: 1px solid white;
  width: 100%;
  margin: 0 auto;
  padding: 50px 0px;
  margin: 100px auto;
  position: relative;
  z-index: 1;
}

.contact .heading-with-icon {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact .contact-me-content {
  width: 90%;
  position: relative;
  margin: 0 auto;
  z-index: 3;
  border: 1px solid red;
}

.contact .contact-me-content .heading {
  text-align: center;
}

.contact::before {
  content: "";
  position: absolute;
  top: 0px;
  height: 500px;
  width: 100%;
  background: url("/app/images/contact-me-background-blob.svg") center no-repeat;
  background-size: 100% 100%;
  z-index: 2;
}

footer {
  width: 100%;
  height: 300px;
  margin-top: 40px;
  background-color: #1c2e4a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=style.css.map */